<%- include('../partials/header') %>

    <h3>I am a Host</h3>

    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>GuestLimit</th>
                <th>Host</th>
            </tr>
        </thead>
        <tbody>

            <% myEvents.forEach(function(e) { %>
                <tr>
                    <td>
                        <%= e.title%>
                    </td>
                    <td>
                        <%= e.date.toISOString().slice(0, 16) %>
                    </td>
                    <td>
                        <%= e.guestLimit %>
                    </td>
                    <td>
                        <%= e.hostName %>
                    </td>
                    <td><a href="/events/<%= e._id %>">DETAILS</a></td>
                    <td>
                        <form action="/events/<%= e._id %>?_method=DELETE" class="delete-form" method="POST">
                            <button type="submit" class="btn-floating btn-large waves-effect waves-light red"><i
                                    class="material-icons">clear</i>></button>
                        </form>
                    </td>
                </tr>
                <% }); %>

        </tbody>
    </table>
    <br>
    <a href="/events/new" class="btn-floating btn-large waves-effect waves-light red"><i
            class="material-icons">add</i></a>
    <br>
    <h3>I am a Guest</h3>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>GuestLimit</th>
                <th>Host</th>
            </tr>
        </thead>
        <tbody>

            <% guestEvents.forEach(function(e) { %>
                <tr>
                    <td>
                        <%= e.title%>
                    </td>
                    <td>
                        <%= e.date.toISOString().slice(0, 16) %>
                    </td>
                    <td>
                        <%= e.guestLimit %>
                    </td>
                    <td>
                        <%= e.hostName %>
                    </td>
                    <td><a href="/events/<%= e._id %>">DETAILS</a></td>
                    <td> <a href="/events/<%= e._id %>/leave" class="btn-floating btn-large waves-effect waves-light red">Leave<i
                        class="material-icons">add</i></a></td>
                </tr>
                <% }); %>

        </tbody>
    </table>
    <br>
    <h3>Other Events</h3>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>GuestLimit</th>
                <th>Host</th>
            </tr>
        </thead>
        <tbody>

            <% otherEvents.forEach(function(e) { %>
                <tr>
                    <td>
                        <%= e.title%>
                    </td>
                    <td>
                        <%= e.date.toISOString().slice(0, 16) %>
                    </td>
                    <td>
                        <%= e.guestLimit %>
                    </td>
                    <td>
                        <%= e.hostName %>
                    </td>
                    <td><a href="/events/<%= e._id %>">DETAILS</a></td>
                    <td> <a href="/events/<%= e._id %>/join" class="btn-floating btn-large waves-effect waves-light green">Join<i
                                class="material-icons">add</i></a></td>
                </tr>
                <% }); %>

        </tbody>
    </table>

    </body>
    <% if(message) { %>
    <script>
        M.toast({html: '<%= message %>', classes: 'rounded <%= color %>'});
    </script>
    <% } %>
    
    </html>