<%- include('../partials/header') %>
    <h3>
        <%= event.title %>
    </h3>

    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Details</th>
                <th>Date</th>
                <th>Place</th>
                <th>Host</th>
                <th>GuestLimit</th>
                <th>Attendees</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <%= event.title%>
                </td>
                <td>
                    <%= event.details%>
                </td>
                <td>
                    <%= event.date.toISOString().slice(0, 16) %>
                </td>
                <td>
                    <%= event.place%>
                </td>
                <td>
                    <%= event.hostName%>
                </td>
                <td>
                    <%= event.guestLimit %>
                </td>
                <td>
                    <% event.attendees.forEach(function(el) { %>
                        <li>
                            <%= el.name %>
                        </li>
                        <% }); %>
                </td>
            </tr>

        </tbody>
    </table>
    <br>
    <a href="/events/<%= event._id %>/edit" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">edit</i></a>

    </body>

    </html>