<%- include('../partials/header') %>
    <h3>
        <%= event.title %>
    </h3>

    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Details</th>
                <th>Date</th>
                <th>Place</th>
                <th>Host</th>
                <th>GuestLimit</th>
                <th>Attendees</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <%= event.title%>
                </td>
                <td>
                    <%= event.details%>
                </td>
                <td>
                    <%= event.date.toISOString().slice(0, 16) %>
                </td>
                <td>
                    <%= event.place%>
                </td>
                <td>
                    <%= event.hostName%>
                </td>
                <td>
                    <%= event.guestLimit %>
                </td>
                <td>
                    <% event.attendees.forEach(function(el) { %>
                        <li>
                            <%= el.name %>
                        </li>
                        <% }); %>
                </td>
            </tr>

        </tbody>
    </table>
    <br>
    <a href="/events/<%= event._id %>/edit" class="btn-floating btn-large waves-effect waves-light red"><i
            class="material-icons">edit</i></a>

    <br>
    <h5>Comments</h5>

    <div class="row">
        <form class="col s6" action="/events/<%= event._id %>/comments" method="POST">
            <input id="textarea1" class="materialize-textarea" name="text">
            <button class="btn-floating btn-large waves-effect waves-light red" type="submit"><i
                    class="material-icons">send</i>
            </button>
        </form>
    </div>
    <br>
    <div class="row">
    <ul class="collection col s6">
        <li class="collection-item avatar">
            <img src="" alt="" class="circle">
            <span class="text">
                <p>Text</p>
            </span>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
        </li>
    </ul>
    </div>


    </body>
    <% if(message) { %>
        <script>
            M.toast({ html: '<%= message %>', classes: 'rounded <%= color %>' });
        </script>
        <% } %>

            </html>