<%- include('../partials/header') %>
    <h3>
        <%= event.title %>
    </h3>

    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Details</th>
                <th>Date</th>
                <th>Place</th>
                <th>Host</th>
                <th>GuestLimit</th>
                <th>Attendees</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <%= event.title%>
                </td>
                <td>
                    <%= event.details%>
                </td>
                <td>
                    <%= event.date.toISOString().slice(0, 16) %>
                </td>
                <td>
                    <%= event.place%>
                </td>
                <td>
                    <%= event.hostName%>
                </td>
                <td>
                    <%= event.attendees.length %>/<%= event.guestLimit %>
                </td>
                <td>
                    <% event.attendees.forEach(function(el) { %>
                        <li>
                        <a href="/users/<%= el._id %>"><%= el.name %></a>  
                        </li>
                        <% }); %>
                </td>
            </tr>

        </tbody>
    </table>
    <br>
    <a href="/events/<%= event._id %>/edit" class="btn-floating btn-large waves-effect waves-light red"><i
            class="material-icons">edit</i></a>

    <br>
    <h5>Comments</h5>

    <div class="row">
        <form class="col s6" action="/events/<%= event._id %>/comments" method="POST">
            <input id="textarea1" class="materialize-textarea" name="text">
            <button class="btn-floating btn-large waves-effect waves-light red" type="submit"><i
                    class="material-icons">send</i>
            </button>
        </form>
    </div>
    <br>
    <div class="row">
        <ul class="collection col s6">
            <% event.comments.forEach (function (comment) {%>
                <li class="collection-item avatar">
                    <% if (comment.userAvatar) { %>
                        <img src="<%= comment.userAvatar %>" alt="" class="circle responsive-img">&nbsp;&nbsp;
                        <% } else { %>
                            <i class="small material-icons">perm_identity</i>
                            <% } %>
                                <span class="user-name">
                                    <%= comment.userName %>
                                </span>
                                <p class="text">
                                    <%= comment.text%>
                                </p>
                                <p>Posted:
                                    <%= comment.createdAt.toISOString().slice(0, 16) %>
                                </p>
                                <p> Updated:
                                    <%= comment.updatedAt.toISOString().slice(0, 16) %>
                                </p>
                                <% if (comment.userId.equals(user._id)) { %>
                                    <form action="/comments/<%=comment._id%>?_method=DELETE" method="POST">
                                        <button type="submit" class="btn waves-effect waves-light red"><i
                                                class="material-icons">clear</i></button>
                                    </form>
                                    <br>
                                    <a href="/comments/<%= comment._id %>/edit"
                                        class="btn waves-effect waves-light red"><i class="material-icons">edit</i></a>
                                    <% } else {%>
                                        <a href="/comments/<%= comment._id %>/like" class="secondary-content"><i
                                                class="material-icons">grade</i></a>
                                     <% }%>
                                        <p>Likes:
                                            <strong>
                                                <%= comment.likes.length%>
                                            </strong>
                </li>
                <% }) %>
        </ul>
    </div>


    </body>
    <% if(message) { %>
        <script>
            M.toast({ html: '<%= message %>', classes: 'rounded <%= color %>' });
        </script>
        <% } %>

            </html>